@import '../common/styles/sass/variables.scss';

.contactsBlock {
  background-color: $white;

  .contactsContainer {
    display: flex;
    flex-direction: column;
    padding: 30px;

    .title {
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1.2;
      font-family: 'Poppins';
      color: $cod-gray;
      margin: 0 0 20px;

      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      .inputContainer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 20px;

        .inputElement1 {
          width: 49%;
          height: 40px;
          padding: 6px 15px;
          box-shadow: none;
          border: none;
          border: 1px solid rgba(0, 0, 0, 0.1);
          background-color: transparent;
          font-family: Heebo, sans-serif;
          font-size: 1rem;
          font-weight: 400;
          outline: none;
          box-sizing: border-box;
        }

        .inputElement2 {
          width: 49%;
          height: 40px;
          padding: 6px 15px;
          box-shadow: none;
          border: none;
          border: 1px solid rgba(0, 0, 0, 0.1);
          background-color: transparent;
          font-family: Heebo, sans-serif;
          font-size: 1rem;
          font-weight: 400;
          outline: none;
          box-sizing: border-box;
        }
      }

      .textarea {
        width: 100%;
        resize: none;
        box-shadow: none;
        border: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: transparent;
        height: 150px;
        padding: 15px;
        font-family: Heebo, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        outline: none;
        box-sizing: border-box;
        margin-bottom: 30px;
      }
    }
    
    .contactsButton {
      color: $white;
      padding: 5px 20px;
      border: 0;
      outline: transparent;
      width: max-content;
      text-transform: uppercase;
      font-family: 'Rambla', sans-serif;
      font-size: 16px;
      line-height: 1.75;
      font-weight: 400;
      border-style: solid;
      border-width: 0;
      background-color: $red-orange;
      border-radius: 0;
      float: left;

      &:hover {
        background-color: $cod-gray;
      }
    }
  }
}
