.contactsBlock {
  height: 100vh;
  background-color: rgb(231, 197, 133);
  border: 1px solid red;
}

.title {
  background-color: rgb(141, 131, 22);
}

.contactsContainer {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.form {
  border: 1px solid;
  width: 280px;
  height: 150px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputElement {
  height: 50%;
}

.contactsButton {
  height: 50px;
  width: 100px;
  border-style: solid;
  color: #fff;
  border-width: 0;
  background-color: #a02525;
  border-radius: 0;
  float: left;
}

.textarea {
  height: 50%;
}
