@import '../common/styles/sass/variables.scss';

.contactsBlock {
  background-color: $primary-white-color;
  .contactsContainer {
    display: flex;
    flex-direction: column;
    .title {
      color: $primary-color;
      font-family: 'Oswald', sans-serif;
      font-weight: 500;
      font-size: 30px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    .form {
      width: 50%;
      display: flex;
      flex-direction: column;
      position: relative;
      .inputContainer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 20px;
        .inputElement1 {
          width: 49%;
          height: 40px;
          padding: 6px 15px;
          box-shadow: none;
          border: none;
          background: $primary-input-light-grey-color;
          color: #fff;
          font-family: Heebo, sans-serif;
          font-size: 1rem;
          font-weight: 400;
          outline: none;
          box-sizing: border-box;
        }
        .inputElement2 {
          width: 49%;
          height: 40px;
          padding: 6px 15px;
          box-shadow: none;
          border: none;
          background: $primary-input-light-grey-color;
          color: #fff;
          font-family: Heebo, sans-serif;
          font-size: 1rem;
          font-weight: 400;
          outline: none;
          box-sizing: border-box;
        }
      }
      .textarea {
        width: 100%;
        resize: none;
        box-shadow: none;
        border: none;
        background: $primary-input-light-grey-color;
        color: #fff;
        height: 150px;
        padding: 15px;
        font-family: Heebo, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        outline: none;
        box-sizing: border-box;
      }
    }
    .contactsButton {
      margin: 40px;
      color: $button-text-color;
      padding: 5px 20px;
      border: 0;
      outline: transparent;
      width: max-content;
      text-transform: uppercase;
      font-family: 'Rambla', sans-serif;
      font-size: 16px;
      line-height: 1.75;
      font-weight: 400;
      border-style: solid;
      border-width: 0;
      background-color: $button-bg-color;
      border-radius: 0;
      float: left;
    }
  }
}
