.contactsBlock {
  background-color: rgb(231, 197, 133);
  border: 1px solid red;
}

.title {
  background-color: rgb(141, 131, 22);
}

.contactsContainer {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.form {
  border: 1px solid;
  width: 280px;
  height: 150px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputElement {
  width: 100%;
  margin-bottom: 10px;
  padding: 4px 10px;
}

.contactsButton {
  color: #fff;
  background-color: #a02525;
  padding: 5px 20px;
  border: 0;
  outline: transparent;
  width: max-content;
  margin-bottom: 25px;
}

.textarea {
  padding: 4px 10px;
  resize: none;
  width: 100%;
}
