@import '../../common/styles/sass/variables.scss';

.skill {
  width: 250px;
  border: 1px solid $primety-light-grey-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin: 0 auto;
  .icon {
    height: 60px;
    width: 60px;
  }
  .title {
    font-weight: 700;
    color: $primary-color;
    font-size: 18px;
    font-family: 'Rambla', sans-serif;
  }
  .description {
    font-family: 'Rambla', sans-serif;
    font-size: 15px;
    line-height: 1.75em;
    font-weight: 400;
    color: $palette-paragraph;
    margin: 0 0 20px;
  }
}
