@import '../common/styles/sass/variables.scss';

.skillsBlock {
  background-color: $primary-grey-color;
  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    .title {
      color: $primary-color;
      font-family: 'Oswald', sans-serif;
      font-weight: 500;
      font-size: 30px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    .skills {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
      margin-bottom: 30px;
      @media screen and (max-width: 1075px) {
        grid-template-columns: 1fr 1fr;
      }
      @media screen and (max-width: 542px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
