@import '../common/styles/sass/variables.scss';

.skillsBlock {
  background-color: $alabaster;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;

    .skillTitle {
      text-transform: uppercase;
      display: inline-block;
      margin-bottom: 10px;
      color: $red-orange;
      font-weight: 500;
    }

    .title {
      color: $cod-gray;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1.2;
      font-family: 'Poppins';
      color: $cod-gray;
      margin: 0 0 20px;

      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }

    .skills {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
      padding: 20px;

      @media screen and (max-width: 1075px) {
        grid-template-columns: 1fr 1fr;
      }
      
      @media screen and (max-width: 542px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
