.mainBlock {
  background-color: rgb(241, 215, 220);
}

.greeting {
  width: 300px;
  background-color: rgb(201, 138, 138);
  margin-bottom: 20px;
}

.photo {
  width: 300px;
  height: 400px;
  background-color: rgb(201, 138, 138);
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 644px) {
  .mainContainer {
    justify-content: center;
  }
}
