@import '../common/styles/sass/variables.scss';

.mainBlock {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  padding: 50px;

  @media screen and(max-width: 768px) {
    padding: 10px;
  }

  .mainContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;

    .mainGreeting {
      width: 500px;
      text-align: left;

      h5 {
        color: $red-orange;
        font-size: 16px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 1px;
        margin: 0 0 15px;
        text-transform: uppercase;

        @media screen and (max-width: 768px) {
          font-size: 13px;
          font-weight: 500;
        }
      }

      h1 {
        font-size: 45px;
        font-weight: 800;
        line-height: 1.4;
        text-transform: uppercase;
        font-family: 'Poppins';
        color: $cod-gray;

        @media screen and (max-width: 768px) {
          font-weight: 700;
          font-size: 15px;
        }
      }
    }

    .mainPhoto {
      display: flex;
      flex-direction: column;
      width: 500px;

      img {
        height: auto;
        width: 100%;
        max-width: 720px;
      }
    }
  }
}
