@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';

.navLink {
  width: 400px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 588px) {
    width: 300px;
  }

  @media screen and (max-width: 768px) {
    width: 420px;
  }

  a {
    @include navlink-text-style(
      0,
      'Poppins',
      500,
      18px,
      1.2em,
      uppercase,
      2px,
      none
    );
    color: $cod-gray;

    &:hover {
      color: $red-orange;
    }

    @media screen and (max-width: 558px) {
      font-size: 12px;
    }
  }
  
  .active {
    color: $red-orange;
  }
}
