//text-colors
$primary-color: #101010;
$palette-paragraph: #888;
$home-page-color: #fff;

//background-colors
$primary-white-color: #fff;
$primary-grey-color: #f7f7f7;
$primary-black-header-color: #101010;

//buttons
$button-text-color: #fff;
$button-bg-color: #101010;

//the before pseudo-element and its styles
$before-bg-color: rgba(16, 16, 16, 0.5);
$before-bg-color-hover: rgba(16, 16, 16, 0);

//Header
$primary-header-grey-text-color: #888;
$primary-header-hover-text-color: #fff;
