.footerBlock {
  background-color: rgb(209, 255, 253);
  border: 1px solid red;
}

.footerContainer {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}

.icons {
  border: 1px solid red;
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  
div .icon {
  background-color: palegreen;
  height: 50px;
  width: 50px;
}
