@import '../common/styles/sass/variables.scss';

.footerBlock {
  background-color: $alabaster;

  .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

    .title {
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1.2;
      font-family: 'Poppins';
      color: $cod-gray;
      margin: 0 0 20px;
    }

    .link {
      color: $cod-gray;
      transition: 0.5s all;
      text-decoration: none;

      &:hover {
        color: $red-orange;
        transition: all 0.3s;
      }
    }
    
    .reserved {
      margin: 0;
      font-size: 14px;
      line-height: 2em;
      color: $cod-gray;
      font-family: 'Poppins';
    }
  }
}
