.projectsBlock {
  background-color: #fff;
  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 60px;
    padding-bottom: 60px;
    .portfolioTitle {
      display: block;
      font-family: 'Oswald', sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      color: #888;
      font-weight: 400;
      letter-spacing: 5px;
    }
    .CreativeWorkstitle {
      color: #101010;
      font-family: 'Oswald', sans-serif;
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 30px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    .projects {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      @media screen and (max-width: 899px) {
        grid-template-columns: 1fr 1fr;
        grid-column-start: 1;
        grid-column-end: 3;
      }
      @media screen and (max-width: 588px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
