.projectsBlock {
  background-color: rgb(208, 176, 209);
}

.projectsContainer {
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  background-color: rgb(165, 113, 139);
}

.projects {
  border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
